$animate_theme: 1s; // Mejoras en el tema osucro para que parezca animado

// Mis Colores
@import 'node_modules/bulma/sass/utilities/initial-variables';
@import 'node_modules/bulma/sass/utilities/functions';
// Nuevos colores y mapas de colores
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);

// Actualizmos el mapa de colores
@import 'node_modules/bulma/sass/utilities/derived-variables';
$addColors: (
  'twitter': (
    $twitter,
    $twitter-invert,
  ),
  'github': (
    $github,
    $github-invert,
  ),
  'linkedin': (
    $linkedin,
    $linkedin-invert,
  ),
);
$colors: map-merge($colors, $addColors);

// Resto de bulma
@import '~bulma/bulma';


// Instancia de de VUE
#app {
  font-family: $family-sans-serif
}

.footer {
  padding: 0.8rem 0.8rem 0.6rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: -0px -2px 3px rgb(190, 190, 190);
  // Parrafo del footer
}

